@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=JetBrains+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F0F0F3] text-on-surface font-body-md min-h-screen text-body-md;
  }
}

@layer components {
  .neumorphic-outset {
    box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 12px #AEAEC0;
  }
  .neumorphic-inset {
    box-shadow: inset -2px -2px 5px #FFFFFF, inset 3px 3px 7px #AEAEC0;
  }
  .neumorphic-button {
    @apply transition-all duration-200;
  }
  .neumorphic-button:active {
    box-shadow: inset -2px -2px 5px #FFFFFF, inset 3px 3px 7px #AEAEC0;
    @apply scale-[0.98];
  }
}

@layer utilities {
  .bg-success {
    background-color: #059669 !important;
  }
  .text-success {
    color: #059669 !important;
  }
  .border-success {
    border-color: #059669 !important;
  }
}
